<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Redis Message Viewer</title>
</head>
<body>
    <h1>Redis Message Viewer</h1>
    <ul id="messages"></ul>

    <script>
        function getMessages() {
            fetch('/messages')
                .then(response => response.json())
                .then(data => {
                    console.log("mattia")
                    console.log(data);
                    console.log(response);
                    const messagesList = document.getElementById('messages');
                    messagesList.innerHTML = '';

                    data.forEach(message => {
                        const li = document.createElement('li');
                        li.textContent = message.Id + ': ' + message.comment;
                        messagesList.appendChild(li);
                    });
                });
        }

        setInterval(getMessages, 5000);
    </script>
</body>
</html>
