<!doctype html>
<html>
  <head>
    <title>Redis messages</title>
  </head>
  <body>
    <h1>Redis messages</h1>
    <ul id="messages"></ul>
    <script>
      var eventSource = new EventSource('/stream');
      eventSource.onmessage = function(event) {
        var message = JSON.parse(event.data);
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(JSON.stringify(message)));
        document.getElementById("messages").appendChild(li);
      };
    </script>
  </body>
</html>
